<p id="notice"><%= notice %></p>
<div class="container mx-auto">
  <div class="flex justify-around mt-4">
    <h1 class='text-3xl'>Posts</h1>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-green' %>
  </div>
  <table class='table-auto mx-auto'>
    <thead>
      <tr>
        <th class='px-4 py-2'>Title</th>
        <th class='px-4 py-2'>Body</th>
        <th class='px-4 py-2' colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class='border px-4 py-2'><%= post.title %></td>
          <td class='border px-4 py-2'><%= post.body %></td>
          <td class='border px-4 py-2'><%= link_to 'Show', post, class: "bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 border border-blue-700 rounded" %></td>
          <td class='border px-4 py-2'><%= link_to 'Edit', edit_post_path(post), class: 'bg-orange-500 hover:bg-orange-700 text-white py-1 px-2 border border-orange-700 rounded' %></td>
          <td class='border px-4 py-2'><%= link_to 'Destroy', post, class: 'bg-red-500 hover:bg-red-700 text-white py-1 px-2 border border-red-700 rounded', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
